.example {
  background-color: $color-lightgrey;
}

.example__wrapper {
  margin: 0 20px;
}

.example__title {
  @include h2-title;
  padding-top: 27px;
}

.example__item {
  &--description {
    @include text-style($basic-font-family, 12px, 12px, 400, $color-black);
  }

  &--number {
    @include text-style($extra-font-family, 24px, 24px, $color-black);
  }
}

.example__total {
  @include text-style($extra-font-family, 14px, 20px, $color-black);
  text-transform: uppercase;
}
