.promo {
  width: 100%;
  background: linear-gradient(to top, $background-green, $background-green), url("../img/background-promo.jpg") no-repeat center top;
  text-align: center;
}

.promo__header {
  @include h1-title-white;
  margin: 0;
  padding: 27px 0 25px;
}

.promo__slogan {
  @include text-style($extra-font-family, 14px, 14px, $color-white);
  margin-bottom: 29px;
}

.promo__img {
  width: 280px;
  height: 270px;
  display: block;
  margin: 0 auto 25px auto;
}
