.button {
  width: 280px;
  display: block;
  margin: 0 auto;
  padding: 8px 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  &--select,
  &--order {
    @include text-style($extra-font-family, 14px, 18px, $color-white);
    background-color: $basic-green;
  }

  &--show {
    @include text-style($extra-font-family, 14px, 18px, $color-darkgrey);
    background-color: $basic-grey;
  }
}
