.card-extra {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  padding-top: 13px;
  padding-bottom: 19px;
  border-bottom: 1px solid $border-midgrey;

  &:first-child {
    border-top: 1px solid $border-midgrey;
  }

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    padding: 18px 36px 29px 38px;
    border: 1px solid $border-midgrey;
    border-bottom: none;

    &:last-child {
      border-bottom: 1px solid $border-midgrey;
    }
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 245px;
    column-gap: 38px;
    padding: 10px 0;
  }
}

.card-extra__title {
  @include text-style($extra-font-family, 16px, 16px, $color-hardcoal);
  text-transform: uppercase;
  margin: 0;
  display: inline-block;
  align-self: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.card-extra__order-link {
  width: 100%;
  height: 40px;
  font-size: 16px;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    grid-column: 1 / -1;
  }

  @media (min-width: $desktop-width) {
    width: 244px;
    margin-top: 0;
  }
}
