.card {
  display: flex;
  flex-wrap: wrap;

  &--last-card {
    padding-top: 25px;
    text-align: center;
  }

  @media (max-width: $mobile-width-only) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 13px;
    align-items: center;
    border-bottom: solid 1px $secondary-grey;
    padding-bottom: 25px;

    &:first-child {
      border-top: solid 1px $secondary-grey;
      padding-top: 25px;
    }

    &:last-child {
      padding-bottom: none;
    }

    &--last-card {
      display: flex;
      width: 100%;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 0 36px 39px;
    margin-bottom: 60px;
    background-color: $basic-grey;
    text-align: center;

    &--last-card {
      background-color: $color-white;
      border: 2px solid $basic-grey;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0 30px 35px;
    margin-bottom: 63px;
  }
}

.card__title {
  display: block;
  margin: 0;
  max-width: 76px;
  margin-bottom: 18px;

  &--last-card {
    max-width: 100%;
  }

  @media (min-width: $tablet-width) {
    max-width: 135px;
    margin-bottom: 21px;

    &--last-card {
      max-width: 134px;
      align-self: flex-start;
    }
  }
}

.card__text {
  @include text-style($basic-font-family, 12px, 16px, $color-darkgrey);
  margin: 0;

  @media (max-width: $mobile-width-only) {
    margin-bottom: 21px;
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;

    &--last-card {
      margin-bottom: 0;
    }
  }
}

.card__order-link,
.card__assortment-link {
  width: 100%;
}

.card__assortment-link {
  height: 42px;
  align-self: flex-end;
}

.card__product-link {
  @include text-style($extra-font-family, 16px, 20px, $color-hardcoal);
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;

    &--last-card {
      font-size: 20px;
      line-height: 22px;
    }
  }
}

.card__order-link {
  @media (max-width: $tablet-width) {
    grid-column: 1 / -1;
  }
}

.card__img-link {
  display: flex;
  width: 100%;
  min-height: 196px;
  justify-content: center;
  align-items: flex-end;

  @media (max-width: $mobile-width-only) {
    min-height: 30px;
    align-items: center;
    margin-bottom: 23px;
  }

  @media (min-width: $tablet-width) {
    margin-top: -73px;
    margin-bottom: 34px;

    &--last-card {
      min-height: 60px;
      margin-top: 0;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: -80px;
    margin-bottom: 44px;

    &--last-card {
      align-items: center;
      margin-top: 0;
    }
  }
}

.card__img {
  display: block;
  width: auto;
  height: auto;

  &--last-card {
    width: 30px;
    height: 30px;
    align-self: center;

    @media (min-width: $tablet-width) {
      width: 60px;
      height: 60px;
    }
  }
}

.card__info {
  &--last-card {
    width: 100%;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
