.card-extra {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: solid 1px $border-extra;

  &:first-child {
    border-top: solid 1px $border-extra;
  }
}

.card-extra__title {
  @include text-style($extra-font-family, 16px, 16px, $color-hardcoal);
  text-transform: uppercase;
  width: 100%;
}

.card-extra__order-link {
  width: 100%;
}
