.catalog-extra {
  padding: 25px 0 35px;
}

.catalog-extra__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: auto 245px;
    column-gap: 80px;
  }
}

.catalog-extra__list {
  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
  }
}

.catalog-extra__title {
  @include text-style($extra-font-family, 24px, 24px, $color-black);
  margin: 0;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 80px;
  }
}
