.catalog-extra__wrapper {
  padding-top: 25px;

  @media (min-width: $tablet-width) {
    padding-bottom: 40px;
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 25px;
    display: grid;
    grid-template-columns: auto 245px;
    column-gap: 80px;
    padding-bottom: 86px;
  }
}

.catalog-extra__list {
  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
  }
}

.catalog-extra__title {
  @include text-style($extra-font-family, 24px, 24px, $color-black);
  margin: 0;
  margin-bottom: 37px;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 80px;
    padding-left: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
    padding-left: 0;
  }

  &--title-line {
    @include title-line;
  }
}

.catalog-extra-line {
  @include green-line-span;

  @media (min-width: $tablet-width) {
    margin-left: -30px;
  }

  @media (min-width: $desktop-width) {
    margin-left: -40px;
  }
}
