.catalog-main {
  //padding-top: 49px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 82px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 85px;
  }
}

.catalog-main__list {
  display: grid;
  gap: 18px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(auto-fill, minmax(324px, 1fr));
    gap: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
    gap: 80px;
  }
}
