.catalog-main__wrapper {
  @media (min-width: $tablet-width) {
    padding: 0 30px;
    padding-top: 82px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
    margin-bottom: 15px;
  }
}

.catalog-main__header {
  @include text-style($extra-font-family, 36px, 36px, $color-black);
  margin: 0;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 37px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    padding-left: 30px;
    padding-top: 45px;
    padding-bottom: 0;
    margin-bottom: 82px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 110px;
    padding-top: 55px;
    padding-bottom: 85px;
  }
}

.catalog-main__list {
  display: grid;
  gap: 18px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(auto-fill, minmax(252px, 1fr));
    gap: 60px;
    padding-top: 82px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 80px;
  }
}
