.catalog-extra {
  padding: 25px 0 35px;
}

.catalog-extra__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: auto 245px;
    column-gap: 80px;
  }
}

.catalog-extra__list {
  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
  }
}

.catalog-extra__title {
  @include text-style($extra-font-family, 24px, 24px, $color-black);
  margin: 0;
  padding-bottom: 25px;
}

.catalog-extra__present {
  height: 289px;
  background: linear-gradient($background-green, $background-green), url("../img/gift-photo-mobile.jpg") no-repeat center center / cover;
  //background-size: 280px 100%;
  text-align: center;
  margin-top: 36px;

  @media (min-width: $tablet-width) {
    background: linear-gradient($background-green, $background-green), url("../img/gift-photo-tablet.jpg") no-repeat center center / cover;
    margin-top: 69px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / -1;
    background: linear-gradient($background-green, $background-green), url("../img/gift-photo-desktop.jpg") no-repeat center center / cover;
    background-size: 245px 100%;
    margin-top: 0;
  }
}

.catalog-extra__present-text {
  @include text-style($basic-font-family, 16px, 20px, $color-white);
  padding: 186px 61px 43px 58px;
}
