.checkbox-field {
  margin: 0 0 23px;
}

.checkbox-field__label {
  @include text-style($extra-font-family, 16px, 18px, $color-hardcoal);
  text-transform: uppercase;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.checkbox-field__name {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 45px;
  min-height: 30px;

  &::before {
    content: "";
    position: absolute;
    width: 29px;
    height: 29px;
    left: 0;
    border: 1px solid $border-midgrey;
  }

  &:hover::before {
    border-color: $border-darkgrey;
  }

  @media (min-width: $tablet-width) {
    padding-left: 60px;
    min-height: 40px;

    &::before {
      width: 39px;
      height: 39px;
    }
  }
}

.checkbox-field__control {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox-field__control:checked + .checkbox-field__name::after {
  content: "";
  position: absolute;
  left: 6px;
  top: 9px;
  width: 18px;
  height: 14px;
  background-image: url("../img/check.svg");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    left: 11px;
    top: 13px;
  }
}

.checkbox-field__control:disabled + .checkbox-field__name {
  opacity: 30%;
}
