.contacts {
  width: 100%;
  background-color: $color-white;
  text-align: left;
}

.contacts__wrapper {
  padding: 28px 20px 26px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
}

.contacts__title {
  @include reset-margin-padding;
  @include text-style($extra-font-family, 16px, 20px, $color-charcoal);
  text-transform: uppercase;
}

.contacts__address {
  @include reset-margin-padding;
  @include text-style($basic-font-family, 14px, 20px, $color-darkgrey);
}

.contacts__location {
  width: 320px;
  //height: 362px;
  //background-image: url("../../img/location.png") no-repeat;
}
