.developer__link {
  text-decoration: none;
}

.developer__name {
  @include text-style($basic-font-family, 16px, 18px, $color-darkgrey);

  &:active {
    opacity: 0.3;
  }
}

.developer__logo {
  width: 27px;
  height: 34px;

  &:active {
    opacity: 0.3;
  }
}
