.developer {
  padding: 20px 0;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.developer__link {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  &:active {
    opacity: 0.3;
  }

  &:hover > .developer__logo {
    fill: $basic-green;
  }
}

.developer__name {
  @include text-style($basic-font-family, 16px, 18px, $color-darkgrey);

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-right: 22px;
  }
}

.developer__logo {
  display: block;
  width: 27px;
  height: 34px;
  color: $color-darkgrey;

  &:hover {
    color: $basic-green;
  }

  &:active {
    color: $basic-green;
    opacity: 0.3;
  }
}
