.example {
  background-color: $color-lightgrey;

  @media (min-width: $tablet-width) {
    background-image: linear-gradient(to top, $basic-grey 462px, $color-white 462px);
  }

  @media (min-width: $desktop-width) {
    background-image: linear-gradient(to bottom, $color-white 205px, $basic-grey 205px);
    position: relative;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      left: calc(50% + 282px);
      height: calc(100% - 205px);
      background-color: $color-lightgrey;
    }
  }
}

.example__wrapper {
  padding-top: 27px;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    padding-top: 43px;
    padding-bottom: 31px;
    border-top: 1px solid $border-lightgrey;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: auto 650px;
    column-gap: 130px;
    padding-top: 70px;
    padding-bottom: 76px;
    border: none;
  }
}

.example__info {
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}

.example__title {
  @include text-style($extra-font-family, 36px, 40px, $color-black);
  margin: 0;
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 63px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 70px;
  }
}

.example__text {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 70px;
    margin-bottom: 69px;
  }
}

.example__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10%;
  justify-items: center;
  align-items: start;
  text-align: center;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 59px;
    column-gap: 42px;
  }
}

.example__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;

  @media (min-width: $tablet-width) {
    min-width: 162px;
  }

  &--description {
    @include text-style($basic-font-family, 12px, 12px, 400, $color-black);
    background-color: $color-lightgrey;
    display: inline-flex;
    align-self: center;
    padding: 0 7px;
    margin-top: -7px;

    @media (min-width: $tablet-width) {
      font-size: 14px;
      line-height: 14px;
      padding: 0 11px;
      margin-top: -8px;
      background-color: $color-white;
    }

    @media (min-width: $desktop-width) {
      background-color: $basic-grey;
    }
  }

  &--number {
    @include text-style($extra-font-family, 24px, 24px, $color-black);
    text-transform: uppercase;
    padding: 14px;
    border: 1px solid $border-midgrey;
    border-radius: 3px;

    @media (min-width: $tablet-width) {
      font-size: 30px;
      line-height: 37px;
    }
  }
}

.example__total {
  @include text-style($extra-font-family, 14px, 20px, $color-black);
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    align-self: flex-start;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 63px;
    text-align: left;
  }
}

.example__indicators {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
  }
}

.example__br {
  display: block;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.example-total__br {
  display: none;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    display: block;
  }
}
