.features__wrapper {
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 17px;
  }
}

.features__list {
  display: grid;
  row-gap: 20px;
  counter-reset: item-counter;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 25px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 77px;
  }
}

.features__title {
  @include text-style($extra-font-family, 36px, 40px, $color-black);
  margin: 0;
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 72px;
  }
}

.features__item {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;

  @media (min-width: $tablet-width) {
    min-height: 240px;
    max-width: 249px;
    margin-bottom: 50px;

    &::after {
      position: absolute;
      top: -39px;
      right: 0;
      display: block;
      min-width: 135px;
      counter-increment: item-counter;
      content: counter(item-counter);
      font-family: $extra-font-family;
      font-size: 280px;
      line-height: 280px;
      color: $basic-grey;
      z-index: -1;
    }
  }
}

.features__text {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  column-gap: 20px;
  margin: 0;
  padding-right: 5px;
  position: relative;

  @media (min-width: $tablet-width) {
    grid-auto-flow: row;
  }

  &--leaf,
  &--tub,
  &--eat,
  &--alarm {
    &::before {
      content: "";
      display: block;
      width: 60px;
      height: 60px;
      background-color: $basic-green;
      background-repeat: no-repeat;

      @media (min-width: $tablet-width) {
        width: 80px;
        height: 80px;
        margin-bottom: 31px;
      }
    }

    &::after {
      position: absolute;
      content: "";
      display: block;
      width: 29px;
      height: 32px;
      left: 14px;
      top: 14px;
      background-position: center;
      background-repeat: no-repeat;

      @media (min-width: $tablet-width) {
        width: 30px;
        height: 32px;
        left: 26px;
        top: 23px;
      }
    }
  }

  &--leaf {
    &::after {
      background-image: url("../img/icon-leaf.png");
    }
  }

  &--tub {
    &::after {
      background-image: url("../img/icon-tub.png");
    }
  }

  &--eat {
    &::after {
      background-image: url("../img/icon-eat.png");
    }
  }

  &--alarm {
    &::after {
      background-image: url("../img/icon-alarm.png");
    }
  }
}
