.features__wrapper {
  padding-top: 24px;
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    padding-top: 45px;
    margin-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 71px;
    margin-bottom: 11px;
  }
}

.features__list {
  display: grid;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 77px;
  }
}

.features__title {
  @include text-style($extra-font-family, 36px, 40px, $color-black);
  margin: 0;
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 32px;
  }
}

.features__text {
  margin: 0;
}

.features__item {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 60px auto;
  column-gap: 20px;
  align-items: center;
  margin-bottom: 22px;
  position: relative;

  @media (min-width: $desktop-width) {
    display: block;
  }

  &::before {
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    background-color: $basic-green;
  }

  &::after {
    position: absolute;
    content: "";
    display: block;
    width: 30px;
    height: 32px;
    left: 14px;
    top: 14px;
    background-repeat: no-repeat;
  }

  &--leaf {
    &::after {
      background-image: url("../img/icon-leaf.png");
    }
  }

  &--tub {
    &::after {
      background-image: url("../img/icon-tub.png");
    }
  }

  &--eat {
    &::after {
      background-image: url("../img/icon-eat.png");
    }
  }

  &--alarm {
    &::after {
      background-image: url("../img/icon-alarm.png");
    }
  }
}
