.form {
  @media (min-width: $desktop-width) {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    row-gap: 76px;
  }
}

.form__list {
  &--checkbox {
    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 45px;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
      gap: 104px;
    }
  }
}

.form__group {
  display: grid;
  row-gap: 10px;
  margin: 0;
  padding: 0;
  margin-bottom: 22px;
  border: none;

  @media (min-width: $desktop-width) {
    &:nth-of-type(3) {
      grid-template-columns: 1fr 1fr;
      column-gap: 80px;
    }

    &--info {
      grid-column: 1 / -1;
    }
  }

  &--bordered {
    border-top: 1px solid $basic-border;
    border-bottom: 1px solid $basic-border;
    padding: 20px 0 18px 50px;
    margin-right: -20px;
    margin-left: -20px;

    @media (min-width: $tablet-width) {
      border: 1px solid $basic-border;
      margin-right: 0;
      margin-left: 0;
    }

    @media (min-width: $desktop-width) {
      padding-top: 13px;
      padding-bottom: 13px;
      display: flex;
      align-items: center;
    }
  }

  @media (min-width: $tablet-width) {
    row-gap: 15px;
    margin-bottom: 76px;

    &:last-of-type {
      margin-bottom: 20px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.form__legend {
  @include text-style($extra-font-family, 24px, 30px, $color-black);
  margin: 0;
  margin-bottom: 34px;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 70px;
    width: 100%;

    &:last-of-type {
      margin-bottom: 57px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 76px;

    &:last-of-type {
      margin-bottom: 57px;
    }
  }

  &--title-line {
    @include title-line;
  }
}

.form__button {
  width: 100%;
  border: none;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    height: 52px;
    font-size: 20px;
    width: 45%;
    margin-bottom: 0;
    flex-shrink: 0;
  }

  @media (min-width: $desktop-width) {
    width: 47%;
  }
}

.form__note {
  @include text-style($basic-font-family, 14px, 16px, $color-black);

  @media (min-width: $tablet-width) {
    font-size: 16px;
    margin-left: 61px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 81px;
  }
}

.form__submit {
  text-align: center;
  margin-top: 32px;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    display: flex;
    align-items: baseline;
    justify-items: flex-start;
    margin-bottom: 71px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -60px;
  }
}

.form__br {
  display: block;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.form__legend-line {
  @include green-line-span;
  margin-left: -2px;

  @media (min-width: $tablet-width) {
    margin-left: -40px;
  }
}
