.form {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    row-gap: 65px;
  }
}

.form__list {
  &--checkbox {
    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    @media (min-width: $desktop-width) {
      display: flex;
      justify-content: space-between;
    }
  }
}

.form__group {
  display: grid;
  row-gap: 20px;
  margin: 0;
  padding: 0;
  margin-bottom: 23px;
  border: none;

  @media (min-width: $desktop-width) {
    &:nth-of-type(3) {
      grid-template-columns: 1fr 1fr;
      column-gap: 80px;
    }

    &--info {
      grid-column: 1 / -1;
    }
  }

  &--bordered {
    border-top: 1px solid $basic-border;
    border-bottom: 1px solid $basic-border;
    padding: 20px 0 28px 45px;
    margin-right: -20px;
    margin-left: -20px;

    @media (min-width: $tablet-width) {
      border: 1px solid $basic-border;
      margin-right: 0;
      margin-left: 0;
    }

    @media (min-width: $desktop-width) {
      padding-top: 13px;
      padding-bottom: 13px;
      display: flex;
      align-items: center;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 71px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.form__legend {
  @include text-style($extra-font-family, 24px, 26px, $color-black);
  margin: 0;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 71px;
    width: 100%;
  }
}

.form__button {
  width: 100%;
  border: none;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    width: 50%;
    margin-bottom: 0;
    flex-shrink: 0;
  }
}

.form__note {
  @include text-style($basic-font-family, 14px, 16px, $color-black);

  @media (min-width: $tablet-width) {
    font-size: 16px;
    margin-left: 61px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 81px;
  }
}

.form__submit {
  text-align: center;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    display: flex;
    align-items: baseline;
    justify-items: flex-start;
    margin-bottom: 71px;
  }
}
