.main-nav {
  text-align: center;
  margin-left: auto;

  @media (max-width: $mobile-width-only) {
    &--opened {
      position: absolute;
      background-color: $color-white;
      width: 100%;
      top: 65px;
      left: 0;
      z-index: 2;
    }

    &--closed {
      display: none;
    }

    &--nojs {
      position: static;
    }
  }
}

.main-nav__list {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    max-width: 570px;
  }
}

.main-nav__item {
  padding: 23px 0;
  border-top: 1px solid $border-lightgrey;

  &:last-child {
    border-bottom: 1px solid $border-lightgrey;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-top: 10px;
    margin-right: 36px;
    border: none;

    &:last-of-type {
      border-bottom: none;
      margin-right: 0;
    }
  }

  @media (min-width: $desktop-width) {
    margin-right: 32px;

    &:first-of-type {
      border-bottom: none;
      margin-right: 36px;
    }
  }
}

.main-nav__item-link {
  @include text-style($extra-font-family, 20px, 20px, $color-black, 500);
  text-transform: uppercase;

  &:active {
    opacity: 0.3;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    padding-bottom: 6px;

    &--active,
    &--current {
      border-bottom: 2px solid $basic-green;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    padding-bottom: 5px;

    &--index {
      color: $color-white;
    }

    &--active {
      border-bottom: 2px solid $color-white;
    }
  }
}
