.main-nav__list {
  @include reset-margin-padding;
}

.menu__item {
  padding: 23px 0;
  border-top: 1px solid $border-header;

  &:last-child {
    border-bottom: 1px solid $border-header;
  }
}

.menu__link {
  @include text-style($extra-font-family, 20px, 20px, $color-black, 500);
  text-transform: uppercase;

  &:active {
    opacity: 0.3;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &--current {
    border-bottom: 2px solid $basic-green;
  }
}
