.options-extra {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    width: auto;
    justify-self: flex-end;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    justify-self: auto;
  }
}

.options-extra__property,
.options-extra__description {
  @include text-style($basic-font-family, 14px, 14px, $color-darkgrey);
}

.options-extra__description {
  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    margin-left: 49px;
  }
}
