.page-header {
  width: 320px;
  display: block;
  margin: 0 auto;
  padding-top: 12px;
  position: relative;
}

.page-header__logo-image {
  width: 34px;
  height: 38px;
}

.page-header__logo-text {
  width: 101px;
  height: 18px;
}
