.page-footer {
  background-color: $basic-grey;
  text-align: center;
}

.page-footer__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 59px;
    padding-bottom: 61px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 57px;
  }
}

.page-footer__logo {
  padding: 39px 0 28px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.page-footer__logo-img {
  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
