.page-footer {
  background-color: $basic-grey;
  text-align: center;
}

.page-footer__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 55px;
    padding-bottom: 61px;
  }
}

.page-footer__logo {
  padding: 39px 0 32px;

  &:active {
    opacity: 0.6;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.page-footer__social {
  padding: 28px 20px 20px 26px;
  border-top: 1px solid $basic-border;
  border-bottom: 1px solid $basic-border;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}
