.page-header {
  border-bottom: 1px solid $basic-border;

  @media (min-width: $tablet-width) {
    border-bottom: none;
  }

  &--index {
    @media (min-width: $desktop-width) {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;

        display: block;
        width: 50%;
        height: 694px;
        background: linear-gradient(to top, $background-green, $background-green),
          url("../img/index-bg-desktop.jpg") no-repeat center center / cover;
        background-color: $background-green;

        @media (min-resolution: $retina-dppx) {
          width: 50%;
          height: 694px;
          background-image: linear-gradient(to top, $background-green, $background-green),
            url("../img/index-bg-desktop@2x.jpg");
        }
      }
    }
  }
}

.page-header__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 28px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 54px;
  }
}

.page-header__toggler {
  width: 24px;
  height: 20px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-repeat: no-repeat;

  &--opened {
    background-image: url("../img/icon-close.svg");
  }

  &--closed {
    background-image: url("../img/icon-hamburger.svg");
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}
