.page-footer {
  display: block;
  background-color: $basic-grey;
  text-align: center;
}

.page-footer__logo-text {
  width: 128px;
  height: 24px;
  padding-top: 38px;

  &:active {
    opacity: 0.6;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }
}

.page-footer__social {
  padding: 28px 20px 20px 26px;
  border-top: 1px solid $border-footer;
  border-bottom: 1px solid $border-footer;
}

.page-footer__developer {
  padding: 22px 0;
  border-bottom: none;
}
