.page-header {
  border-bottom: 1px solid $basic-border;

  @media (min-width: $tablet-width) {
    padding-top: 11px;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    padding-top: 40px;
  }

  &--index {
    @media (min-width: $desktop-width) {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;

        display: block;
        width: 50%;
        height: 694px;
        background: linear-gradient(to top, $background-green, $background-green),
          url("../img/index-bg-desktop.jpg") no-repeat center center / cover;
        background-color: $background-green;

        @media (min-resolution: $retina-dppx) {
          width: 50%;
          height: 694px;
          background-image: linear-gradient(to top, $background-green, $background-green),
            url("../img/index-bg-desktop@2x.jpg");
        }
      }
    }
  }
}

.page-header__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

.page-header__logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;

  @media (min-width: $mobile-width) {
    padding-top: 13px;
    padding-bottom: 17px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 10px;
  }
}

.page-header__logo-image,
.page-header__logo-text {
  &:hover {
    opacity: 0.8;
  }

  &--active {
    opacity: 0.6;
  }
}

.page-header__logo-image {
  @media (min-width: $tablet-width) {
    width: 174px;
    height: 52px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 59px;
  }
}

.page-header__logo-text {
  width: 101px;
  height: 18px;
  justify-self: center;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page-header__logo-link {
  &--text {
    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}
