.present {
  min-height: 290px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-top: 36px;
  position: relative;

  background: linear-gradient($background-green, $background-green),
    url("../img/present-mobile.jpg") no-repeat center center / cover;

  @media (min-resolution: 2dppx) {
    background: linear-gradient($background-green, $background-green),
      url("../img/present-mobile@2x.jpg") no-repeat center center / cover;
  }

  &::before {
    position: absolute;
    content: "";
    top: 65px;
    left: 50%;
    transform: translateX(-50%);
    width: 78px;
    height: 80px;
    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (min-width: $tablet-width) {
    min-height: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 69px;

    background: linear-gradient($background-green, $background-green),
      url("../img/present-tablet.jpg") no-repeat center center / cover;

    @media (min-resolution: 2dppx) {
      background: linear-gradient($background-green, $background-green),
        url("../img/present-tablet@2x.jpg") no-repeat center center / cover;
    }

    &::before {
      grid-column: 1 / 2;
      left: 100px;
    }
  }

  @media (min-width: $desktop-width) {
    height: 100%;
    grid-column: 2 / -1;
    margin-top: 0;

    background: linear-gradient($background-green, $background-green),
      url("../img/present-desktop.jpg") no-repeat center center / cover;
    background-size: 245px 100%;

    @media (min-resolution: 2dppx) {
      background: linear-gradient($background-green, $background-green),
        url("../img/present-desktop@2x.jpg") no-repeat center center / cover;
    }

    &::before {
      left: 50%;
      grid-column: 1 / -1;
      grid-row: 1 / 2;
    }
  }
}

.present__text {
  @include text-style($basic-font-family, 16px, 20px, $color-white);
  padding: 40px 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    grid-column: 2 / -1;
    align-self: center;
    justify-self: center;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    align-self: flex-end;
    text-align: center;
  }
}
