.programs__wrapper {
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    margin-bottom: 48px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 71px;
  }
}

.programs__list {
  display: grid;
  gap: 20px;

  @media (min-width: $tablet-width) {
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.programs__item {
  margin: 0;

  background-color: $basic-grey;
  padding: 30px 20px 20px 20px;

  @media (min-width: $tablet-width) {
    padding: 77px 22px 55px 52px;
  }

  @media (min-width: $desktop-width) {
    padding: 77px 31px 59px 52px;
  }
}

.programs__title {
  @include text-style($extra-font-family, 24px, 37px, $color-black);
  text-transform: uppercase;
  display: block;
  margin: 0;
  margin-bottom: 29px;
  margin-left: 70px;
  position: relative;

  &--slim::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 53px;
    left: -70px;
    top: -10px;
    background-image: url("../img/icon-cat-slim.svg");
    background-repeat: no-repeat;
  }

  &--pro::before {
    position: absolute;
    content: "";
    width: 67px;
    height: 50px;
    left: -80px;
    top: -5px;
    background-image: url("../img/icon-cat-pro.svg");
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-left: 0;
    margin-bottom: 25px;

    &--slim::before {
      width: 200px;
      height: 211px;
      top: 0;
      left: 394px;
      background-image: url("../img/icon-cat-slim2.svg");
    }

    &--pro::before {
      width: 268px;
      height: 200px;
      top: 15px;
      left: 360px;
      background-image: url("../img/icon-cat-pro2.svg");
    }
  }

  @media (min-width: $desktop-width) {
    margin-left: 160px;
    margin-bottom: 73px;

    &--slim::before {
      width: 100px;
      height: 108px;
      left: -160px;
      top: -35px;
      background-image: url("../img/icon-cat-slim3.svg");
    }

    &--pro::before {
      width: 134px;
      height: 100px;
      left: -180px;
      top: -30px;
      background-image: url("../img/icon-cat-pro3.svg");
    }
  }
}

.programs__text {
  padding-bottom: 22px;
  margin-bottom: 20px;
  border-bottom: 1px solid $basic-border;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
    margin-bottom: 50px;
    border-bottom: none;
    max-width: 340px;
  }

  @media (min-width: $desktop-width) {
    max-width: 100%;
    margin-bottom: 27px;
  }
}

.programs__link {
  @include text-style($extra-font-family, 16px, 16px, $color-black);
  text-transform: uppercase;
  display: block;
  align-self: flex-end;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 26px;
    height: 12px;
    top: 2px;
    margin-left: 15px;
    background-image: url("../img/icon-catalog-arrow.svg");
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      top: 10px;
      margin-left: 25px;
    }
  }

  &:hover {
    &::after {
      width: 34px;
      height: 12px;
      background-image: url("../img/icon-catalog-arrow2.svg");
    }
  }

  &:active {
    color: rgba($color-black, 0.3);

    &::after {
      opacity: 0.3;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
