.promo {
  background-image: linear-gradient(to top, $background-green, $background-green), url("../img/background-promo.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: center top, center top;
  background-size: auto 302px, 320px 302px;
  text-align: center;

  @media (min-width: $tablet-width) {
    background: none;
    text-align: left;
  }
}

.promo__wrapper {
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    position: relative;
    min-height: 652px;
    padding: 62px 0 0 117px;
  }
}

.promo__header {
  @include text-style($extra-font-family, 36px, 36px, $color-white);
  margin: 0;

  @media (max-width: $tablet-width) {
    padding-top: 27px;
  }

  @media (min-width: $tablet-width) {
    @include text-style($extra-font-family, 60px, 60px, $color-black);
  }
}

.promo__slogan {
  @include text-style($extra-font-family, 14px, 14px, $color-white);
  text-transform: uppercase;
  margin: 29px 0;

  @media (min-width: $tablet-width) {
    @include text-style($extra-font-family, 20px, 20px, $color-black);
    margin: 41px 0 49px;
  }
}

.promo__img {
  display: block;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    margin-top: -22px;
  }

  @media (min-width: $desktop-width) {
    width: 552px;
    height: 499px;
    position: absolute;
    top: 50px;
    left: 240px;
  }
}

.promo__link {
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 244px;
    position: absolute;
    top: 292px;
    z-index: 1;
  }
}
