.promo {
  position: relative;

  @media (max-width: $tablet-width) {
    &::before {
      position: absolute;
      content: "";
      width: 100%;
      min-height: 302px;
      top: 0;
      z-index: -1;

      background-color: #4d4c51;
      background-image: linear-gradient(to top, $background-green, $background-green),
        url("../img/background-promo.jpg");
      background-repeat: no-repeat;
      background-position: top center;

      @media (min-resolution: $retina-dppx) {
        background-image: linear-gradient(to top, $background-green, $background-green),
          url("../img/background-promo@2x.jpg");
        background-size: auto 302px;
      }

      @media (min-width: $tablet-width) {
        display: none;
      }
    }
  }
}

.promo__wrapper {
  margin-bottom: 22px;
  text-align: center;

  @media (min-width: $tablet-width) {
    position: relative;
    min-height: 652px;
    padding-left: 118px;
    padding-top: 62px;
    text-align: left;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    min-height: 580px;
    padding-top: 111px;
    margin-bottom: 82px;
  }
}

.promo__header {
  @include text-style($extra-font-family, 36px, 36px, $color-white);
  max-width: 249px;
  margin: 0 auto;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    @include text-style($extra-font-family, 60px, 60px, $color-black);
    margin: 0;
    max-width: 420px;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    max-width: 580px;
    padding-right: 40px;
    margin-bottom: 40px;
    //word-wrap: break-word;
  }
}

.promo__slogan {
  @include text-style($extra-font-family, 14px, 14px, $color-white);
  text-transform: uppercase;
  max-width: 580px;
  margin: 0;

  @media (min-width: $tablet-width) {
    @include text-style($extra-font-family, 20px, 20px, $color-black);
    max-width: 420px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 52px;
  }
}

.promo__img {
  display: block;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 709px;
    height: 609px;
    margin-left: -44px;
    margin-top: 22px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    width: 552px;
    height: 499px;
    top: -8px;
    left: 286px;
  }
}

.promo__link {
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 244px;
    height: 54px;
    position: absolute;
    top: 290px;
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    position: static;
  }
}
