.radio-field {
  padding: 9px 9px 13px 19px;
}

.radio-field__label {
  @include text-style($extra-font-family, 16px, 18px, $color-hardcoal);
  text-transform: uppercase;
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  user-select: none;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.radio-field__name {
  display: flex;
  align-items: center;
  position: relative;

  &::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    width: 30px;
    height: 30px;
    left: -48px;
    top: 50%;
    border: 1px solid $border-midgrey;
    border-radius: 50%;
    transform: translateY(-50%);
  }

  &:hover::before {
    border-color: $border-darkgrey;
  }

  @media (min-width: $tablet-width) {
    padding-left: 18px;

    &::before {
      width: 40px;
      height: 40px;
      left: -39px;
    }
  }
}

.radio-field__control {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.radio-field__control:checked + .radio-field__name::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  left: -40px;
  border-radius: 50%;
  background-color: $basic-green;

  @media (min-width: $tablet-width) {
    width: 18px;
    height: 18px;
    left: -27px;
  }
}

.radio-field__control:disabled + .radio-field__name {
  opacity: 30%;
}

.radio-field__control:focus + .radio-field__name::before {
  border-color: $color-darkgrey;
  border-width: 2px;
}
