.selection__wrapper {
  padding-top: 25px;

  @media (min-width: $tablet-width) {
    padding-top: 67px;
    padding-left: 69px;
    padding-right: 69px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 74px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.selection__header {
  @include text-style($extra-font-family, 36px, 36px, $color-black);
  margin: 0;
  margin-bottom: 37px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 54px;
  }
}

.selection__description {
  @include text-style($extra-font-family, 14px, 18px, $color-black);
  text-transform: uppercase;
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    width: 55%;
    margin-bottom: 63px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin-bottom: 67px;
  }
}
