.slider {
  display: grid;
  text-align: center;
  background-color: $color-lightgrey;
}

.slider-controls__button {
  @include text-style($extra-font-family, 16px, 20px, $color-black);
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  padding: 0 10px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.slider-controls {
  display: flex;
  justify-content: center;
}

.slider__images {
  margin-bottom: 23px;
}
