.slider {
  width: 100%;
  display: grid;
  justify-content: center;
  z-index: 1;

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.slider__images {
  position: relative;
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    width: 708px;
    min-height: 490px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    min-height: 520px;
    margin-bottom: 0;
  }
}

.slider__block {
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  @media (min-width: $desktop-width) {
    top: -50px;
  }
}

.slider__img {
  display: none;

  &--before {
    display: block;
    width: 312px;
    height: 232px;
  }

  @media (min-width: $tablet-width) {
    display: block;

    &--before {
      width: 708px;
      height: 490px;
      clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
    }

    &--after {
      width: 708px;
      height: 520px;
      clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
    }
  }

  @media (min-width: $desktop-width) {
    width: 708px;
    height: 520px;
  }
}

.slider__controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__button {
  @include text-style($extra-font-family, 16px, 20px, $color-black);
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  padding: 0 18px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.slider__range {
  display: flex;
  align-items: center;
  width: 84px;
  height: 14px;
  padding: 0 6px;
  background-color: $color-white;
  border: 1px solid $border-midgrey;
  border-radius: 6px;

  @media (min-width: $tablet-width) {
    width: 428px;
    height: 6px;
    background-color: $color-midgrey;
    justify-content: center;
  }
}

.slider__toggler {
  width: 35px;
  height: 6px;
  background-color: $basic-green;
  border-radius: 6px;

  @media (min-width: $tablet-width) {
    width: 34px;
    height: 34px;
    background-color: $color-white;
    border: 1px solid $color-midgrey;
    border-radius: 50%;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 8px;
      height: 8px;
      top: calc(50% - 4px);
      left: calc(50% - 4px);
      background-color: $basic-green;
      border-radius: 50%;
    }

    &:hover {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.19);
    }

    &:active {
      border-color: $basic-green;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    }
  }
}
