.social {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
}

.social__item {
  padding: 0;
}

.social__icon {
  fill: $color-grey;

  &:hover {
    fill: $basic-green;
  }

  &:active {
    opacity: 0.3;
  }

  &--vk {
    width: 23px;
    height: 16px;
  }

  &--instagram {
    width: 16px;
    height: 16px;
  }

  &--facebook {
    width: 22px;
    height: 22px;
    stroke: $color-grey;
    fill: none;

    &:hover {
      stroke: $basic-green;
      fill: none;
    }
  }
}
