.text-field {
  display: flex;
  width: 100%;
  align-items: center;
  position: relative;
}

.text-field__label,
.text-field__control {
  @include text-style($extra-font-family, 16px, 18px, $color-darkgrey);
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.text-field__label {
  padding-right: 15px;
}

.text-field__control {
  border: 1px solid $border-grey;
  padding: 13px;
  flex-grow: 1;

  @media (min-width: $tablet-width) {
    padding: 13px;
  }

  &::placeholder {
    @include text-style($extra-font-family, 16px, 18px, $color-darkgrey);

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 30px;
    }
  }

  &--textarea {
    width: 100%;
    height: 152px;
    padding: 12px;
    resize: none;

    @media (min-width: $tablet-width) {
      height: 174px;
    }
  }

  &:hover {
    border-color: $color-darkgrey;
  }

  &:focus {
    outline-width: 2px;
    outline-color: $color-darkgrey;
  }

  &:focus:invalid {
    outline-color: $color-red;
  }

  &:focus + .text-field__icon {
    color: $basic-green;
  }

  &:focus:invalid + .text-field__icon {
    color: $color-red;
  }
}

.text-field__icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}
