.catalog-extra {
  padding: 0 20px;
}

.catalog-extra__title {
  @include text-style($extra-font-family, 24px, 24px, $color-black);
}

.catalog-extra__list {
  @include reset-margin-padding;
  list-style: none;
}

.catalog-extra__present {
  width: 280px;
  height: 289px;
  background: url("../img/gift-photo-mobile.jpg") no-repeat;
  text-align: center;
  margin-top: 36px;
}

.catalog-extra__present-text {
  @include text-style($basic-font-family, 16px, 20px, $color-white);
  padding: 186px 61px 43px 58px;
}
