@mixin text-style($font-family, $font-size, $line-height, $color, $font-weight: 400, $font-style: normal) {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
  font-weight: $font-weight;
  font-style: $font-style;
}

@mixin title-line {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 14px;
    left: 0;
    z-index: -1;

    display: block;
    width: 100vw;
    height: 3px;

    background-color: #68b738;
  }

  @media (min-width: $tablet-width) {
    &::before {
      top: 22px;
    }

    &::after {
      top: 22px;
      right: 0;
      left: auto;
    }
  }

  @media (min-width: $desktop-width) {
    &::before,
    &::after {
      top: 21px;
    }
  }
}

@mixin green-line-span {
  padding-right: 22px;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    padding-left: 37px;
    padding-right: 36px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 40px;
  }
}
