//Colors
$color-white: #ffffff;
$color-black: #000000;
$color-darkgrey: #444444;
$basic-grey: #f2f2f2;
$basic-green: #68b738;

//Fonts
$basic-font-family: "Arial", sans-serif;
$basic-font-color: $color-darkgrey;
$extra-font-family: "Oswald";
