.form__group {
  margin-bottom: 23px;
  border: none;

  &--bordered {
    border-top: 1px solid $basic-border;
    border-bottom: 1px solid $basic-border;
  }
}

.form__legend {
  @include text-style($extra-font-family, 24px, 26px, $color-black);
  margin-bottom: 34px;
}

.form__list {
  @include reset-margin-padding;
}

.form__field {
  display: flex;
  flex-wrap: nowrap;
}

.form__submit {
  text-align: center;
  margin-bottom: 32px;
}

.form__note {
  @include text-style($basic-font-family, 14px, 16px, $color-black);
  display: block;
  padding-top: 21px;
}
